@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("../../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}
.button-container {
  @apply flex flex-col md:flex-row justify-center w-full space-y-6 text-xl text-white md:space-y-0 md:space-x-4;
}
@layer base {
  h3 {
    @apply text-4xl mb-8 font-bold text-gray-600 md:text-5xl;
  }
  h5 {
    @apply mb-2 text-2xl font-bold text-gray-500;
  }
}
@media (max-width: 576px) {
  body {
    background-image: url("../../images/bg-header-mobile.png");
  }
}
.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
